
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    
    font-family:"Poppins", sans-serif ;
   
}
.logo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 10px;
}
header{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
header ul {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   gap: 40px;
   list-style: none;
   text-decoration: none;
   margin-left: 30px;
   margin-top: 20px;

}
.navbar ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-family: "Poppins", sans-serif ;
    max-width: fit-content;
    border-left: #000000;
}
.navbar ul li a:hover{
    text-transform: capitalize;
    color: #5955b3;
    text-decoration: underline;
    font-weight: 700;
    transition: 0.1s;
}
button{
    padding: 4px 15px;
    border-radius: 7px;
    width: fit-content;
    background-color: #5955b3;
    border: none;
    font-family: "Poppins";
    line-height: 26px;
    flex-wrap: nowrap;
    
}
button:hover{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid black;
    transition: 0.1s;
}
button a:hover{
    color: #000000;
    font-weight: 700;
    font-size: large;
    transition: 0.1s;
}
.navbar .first-b {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
    
}
.first-b a{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.second-b a{
    padding: 4px 15px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    width: fit-content;
    font-family: "Poppins", sans-serif;
}
.hero{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-basis: 100%;
 margin-top: -3rem;
 margin-left: 11px;
 margin-right: 0px;
 height: 700px;
 
}
.left{
    display: block;
    justify-content: center;
    align-items: center;
 flex-basis: 45%;
 padding: 10px 9px;
}
.right{
    flex-basis: 55%;
}
.right img{
    width: 97%;
    height: 35rem;
    justify-self: center;    
}
.hero .left{
    margin-top: 25px;
}
.left h2{
    color: #3c2f60;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    width: 100%;
    line-height: 110%;
    font-weight: 600;
}

.left h2 span{
    color: #5955b3;
}
.left p{
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #828282;
    margin-top: 18px;
}
.second-b{
    margin-top: 40px;
}
footer{
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
  
    /* padding: 30px 20px; */
    
}
footer h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
}